.profileImage {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    display: block;
}

.wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
}

@media (max-width: 800px) {
    .wrapper {
        flex-direction: column;
    }
}
