.wrapper {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: max(1.5rem, 20px);
    /*width: 100%;*/
    background: white;
}

.source {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    margin: 2rem;
    line-height: 100%;
    color: white;
    overflow-y: auto;
    padding: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.source:hover {
    opacity: 1;
}

.code {
    font-family: inherit;
    font-size: 0.8em;
}
